# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Environment files
*.env


# Obfuscation related
app.*.map.json
# Ignore generated plugin files for Linux, macOS, and Windows
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugins.cmake
macos/Flutter/GeneratedPluginRegistrant.swift
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugins.cmake
# Ignore generated Dart files
*.g.dart
*.freezed.dart
# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
android/app/.cxx/Debug/685b5x2y/hash_key.txt
android/app/.cxx/Debug/685b5x2y/arm64-v8a/additional_project_files.txt
android/app/.cxx/Debug/685b5x2y/arm64-v8a/android_gradle_build.json
android/app/.cxx/Debug/685b5x2y/arm64-v8a/android_gradle_build_mini.json
android/app/.cxx/Debug/685b5x2y/arm64-v8a/build.ninja
android/app/.cxx/Debug/685b5x2y/arm64-v8a/build_file_index.txt
android/app/.cxx/Debug/685b5x2y/arm64-v8a/cmake_install.cmake
android/app/.cxx/Debug/685b5x2y/arm64-v8a/CMakeCache.txt
android/app/.cxx/Debug/685b5x2y/arm64-v8a/configure_fingerprint.bin
android/app/.cxx/Debug/685b5x2y/arm64-v8a/metadata_generation_command.txt
android/app/.cxx/Debug/685b5x2y/arm64-v8a/prefab_config.json
android/app/.cxx/Debug/685b5x2y/arm64-v8a/symbol_folder_index.txt
android/app/.cxx/Debug/685b5x2y/arm64-v8a/.cmake/api/v1/query/client-agp/cache-v2
android/app/.cxx/Debug/685b5x2y/arm64-v8a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
android/app/.cxx/Debug/685b5x2y/arm64-v8a/.cmake/api/v1/query/client-agp/codemodel-v2
android/app/.cxx/Debug/685b5x2y/arm64-v8a/.cmake/api/v1/reply/cache-v2-8100c080763eeffa0da5.json
android/app/.cxx/Debug/685b5x2y/arm64-v8a/.cmake/api/v1/reply/cmakeFiles-v1-038e6169773d84e2a8a8.json
android/app/.cxx/Debug/685b5x2y/arm64-v8a/.cmake/api/v1/reply/codemodel-v2-158c14f0af9abd301354.json
android/app/.cxx/Debug/685b5x2y/arm64-v8a/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
android/app/.cxx/Debug/685b5x2y/arm64-v8a/.cmake/api/v1/reply/index-2025-04-13T23-09-34-0885.json
android/app/.cxx/Debug/685b5x2y/arm64-v8a/CMakeFiles/cmake.check_cache
android/app/.cxx/Debug/685b5x2y/arm64-v8a/CMakeFiles/rules.ninja
android/app/.cxx/Debug/685b5x2y/arm64-v8a/CMakeFiles/TargetDirectories.txt
android/app/.cxx/Debug/685b5x2y/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
android/app/.cxx/Debug/685b5x2y/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
android/app/.cxx/Debug/685b5x2y/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
android/app/.cxx/Debug/685b5x2y/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
android/app/.cxx/Debug/685b5x2y/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
android/app/.cxx/Debug/685b5x2y/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
android/app/.cxx/Debug/685b5x2y/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
android/app/.cxx/Debug/685b5x2y/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
android/app/.cxx/Debug/685b5x2y/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
android/app/.cxx/Debug/685b5x2y/armeabi-v7a/additional_project_files.txt
android/app/.cxx/Debug/685b5x2y/armeabi-v7a/android_gradle_build.json
android/app/.cxx/Debug/685b5x2y/armeabi-v7a/android_gradle_build_mini.json
android/app/.cxx/Debug/685b5x2y/armeabi-v7a/build.ninja
android/app/.cxx/Debug/685b5x2y/armeabi-v7a/build_file_index.txt
android/app/.cxx/Debug/685b5x2y/armeabi-v7a/cmake_install.cmake
android/app/.cxx/Debug/685b5x2y/armeabi-v7a/CMakeCache.txt
android/app/.cxx/Debug/685b5x2y/armeabi-v7a/configure_fingerprint.bin
android/app/.cxx/Debug/685b5x2y/armeabi-v7a/metadata_generation_command.txt
android/app/.cxx/Debug/685b5x2y/armeabi-v7a/prefab_config.json
android/app/.cxx/Debug/685b5x2y/armeabi-v7a/symbol_folder_index.txt
android/app/.cxx/Debug/685b5x2y/armeabi-v7a/.cmake/api/v1/query/client-agp/cache-v2
android/app/.cxx/Debug/685b5x2y/armeabi-v7a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
android/app/.cxx/Debug/685b5x2y/armeabi-v7a/.cmake/api/v1/query/client-agp/codemodel-v2
android/app/.cxx/Debug/685b5x2y/armeabi-v7a/.cmake/api/v1/reply/cache-v2-494f8f850331a8187d66.json
android/app/.cxx/Debug/685b5x2y/armeabi-v7a/.cmake/api/v1/reply/cmakeFiles-v1-c8c10292f52adc66ab81.json
android/app/.cxx/Debug/685b5x2y/armeabi-v7a/.cmake/api/v1/reply/codemodel-v2-e24663cfcfea71db898a.json
android/app/.cxx/Debug/685b5x2y/armeabi-v7a/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
android/app/.cxx/Debug/685b5x2y/armeabi-v7a/.cmake/api/v1/reply/index-2025-04-13T23-09-35-0275.json
android/app/.cxx/Debug/685b5x2y/armeabi-v7a/CMakeFiles/cmake.check_cache
android/app/.cxx/Debug/685b5x2y/armeabi-v7a/CMakeFiles/rules.ninja
android/app/.cxx/Debug/685b5x2y/armeabi-v7a/CMakeFiles/TargetDirectories.txt
android/app/.cxx/Debug/685b5x2y/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
android/app/.cxx/Debug/685b5x2y/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
android/app/.cxx/Debug/685b5x2y/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
android/app/.cxx/Debug/685b5x2y/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
android/app/.cxx/Debug/685b5x2y/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
android/app/.cxx/Debug/685b5x2y/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
android/app/.cxx/Debug/685b5x2y/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
android/app/.cxx/Debug/685b5x2y/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
android/app/.cxx/Debug/685b5x2y/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
android/app/.cxx/Debug/685b5x2y/x86/additional_project_files.txt
android/app/.cxx/Debug/685b5x2y/x86/android_gradle_build.json
android/app/.cxx/Debug/685b5x2y/x86/android_gradle_build_mini.json
android/app/.cxx/Debug/685b5x2y/x86/build.ninja
android/app/.cxx/Debug/685b5x2y/x86/build_file_index.txt
android/app/.cxx/Debug/685b5x2y/x86/cmake_install.cmake
android/app/.cxx/Debug/685b5x2y/x86/CMakeCache.txt
android/app/.cxx/Debug/685b5x2y/x86/configure_fingerprint.bin
android/app/.cxx/Debug/685b5x2y/x86/metadata_generation_command.txt
android/app/.cxx/Debug/685b5x2y/x86/prefab_config.json
android/app/.cxx/Debug/685b5x2y/x86/symbol_folder_index.txt
android/app/.cxx/Debug/685b5x2y/x86/.cmake/api/v1/query/client-agp/cache-v2
android/app/.cxx/Debug/685b5x2y/x86/.cmake/api/v1/query/client-agp/cmakeFiles-v1
android/app/.cxx/Debug/685b5x2y/x86/.cmake/api/v1/query/client-agp/codemodel-v2
android/app/.cxx/Debug/685b5x2y/x86/.cmake/api/v1/reply/cache-v2-0935477bf3c5efbd2ac0.json
android/app/.cxx/Debug/685b5x2y/x86/.cmake/api/v1/reply/cmakeFiles-v1-d27df2e33f030dc30cc3.json
android/app/.cxx/Debug/685b5x2y/x86/.cmake/api/v1/reply/codemodel-v2-2cacc2eb0e02b370ce65.json
android/app/.cxx/Debug/685b5x2y/x86/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
android/app/.cxx/Debug/685b5x2y/x86/.cmake/api/v1/reply/index-2025-04-13T23-09-35-0564.json
android/app/.cxx/Debug/685b5x2y/x86/CMakeFiles/cmake.check_cache
android/app/.cxx/Debug/685b5x2y/x86/CMakeFiles/rules.ninja
android/app/.cxx/Debug/685b5x2y/x86/CMakeFiles/TargetDirectories.txt
android/app/.cxx/Debug/685b5x2y/x86/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
android/app/.cxx/Debug/685b5x2y/x86/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
android/app/.cxx/Debug/685b5x2y/x86/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
android/app/.cxx/Debug/685b5x2y/x86/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
android/app/.cxx/Debug/685b5x2y/x86/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
android/app/.cxx/Debug/685b5x2y/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
android/app/.cxx/Debug/685b5x2y/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
android/app/.cxx/Debug/685b5x2y/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
android/app/.cxx/Debug/685b5x2y/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
android/app/.cxx/Debug/685b5x2y/x86_64/additional_project_files.txt
android/app/.cxx/Debug/685b5x2y/x86_64/android_gradle_build.json
android/app/.cxx/Debug/685b5x2y/x86_64/android_gradle_build_mini.json
android/app/.cxx/Debug/685b5x2y/x86_64/build.ninja
android/app/.cxx/Debug/685b5x2y/x86_64/build_file_index.txt
android/app/.cxx/Debug/685b5x2y/x86_64/cmake_install.cmake
android/app/.cxx/Debug/685b5x2y/x86_64/CMakeCache.txt
android/app/.cxx/Debug/685b5x2y/x86_64/configure_fingerprint.bin
android/app/.cxx/Debug/685b5x2y/x86_64/metadata_generation_command.txt
android/app/.cxx/Debug/685b5x2y/x86_64/prefab_config.json
android/app/.cxx/Debug/685b5x2y/x86_64/symbol_folder_index.txt
android/app/.cxx/Debug/685b5x2y/x86_64/.cmake/api/v1/query/client-agp/cache-v2
android/app/.cxx/Debug/685b5x2y/x86_64/.cmake/api/v1/query/client-agp/cmakeFiles-v1
android/app/.cxx/Debug/685b5x2y/x86_64/.cmake/api/v1/query/client-agp/codemodel-v2
android/app/.cxx/Debug/685b5x2y/x86_64/.cmake/api/v1/reply/cache-v2-d733b43c2b196d24de22.json
android/app/.cxx/Debug/685b5x2y/x86_64/.cmake/api/v1/reply/cmakeFiles-v1-810106efce90b2c6a514.json
android/app/.cxx/Debug/685b5x2y/x86_64/.cmake/api/v1/reply/codemodel-v2-b5c7335a7853a5dfe298.json
android/app/.cxx/Debug/685b5x2y/x86_64/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
android/app/.cxx/Debug/685b5x2y/x86_64/.cmake/api/v1/reply/index-2025-04-13T23-09-35-0898.json
android/app/.cxx/Debug/685b5x2y/x86_64/CMakeFiles/cmake.check_cache
android/app/.cxx/Debug/685b5x2y/x86_64/CMakeFiles/rules.ninja
android/app/.cxx/Debug/685b5x2y/x86_64/CMakeFiles/TargetDirectories.txt
android/app/.cxx/Debug/685b5x2y/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
android/app/.cxx/Debug/685b5x2y/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
android/app/.cxx/Debug/685b5x2y/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
android/app/.cxx/Debug/685b5x2y/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
android/app/.cxx/Debug/685b5x2y/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
android/app/.cxx/Debug/685b5x2y/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
android/app/.cxx/Debug/685b5x2y/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
android/app/.cxx/Debug/685b5x2y/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
android/app/.cxx/Debug/685b5x2y/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
ios/Podfile
macos/Podfile
